# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python compiled files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
venv/
env/
*.venv

# Ignore logs and output files
*.log
*.out
*.err

# Ignore Vosk model files
backend/app/vosk-model-*/

# Ignore binary and config files
*.mdl
*.fst
*.int
*.conf
*.stats
*.mat
*.dubm
*.ie

# Ignore progress and temporary files
progress.json
*.tmp
*.bak

# Ignore VS Code settings
.vscode/


# Node.js modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed
*.log
*.out
*.gz

# IDE and Editor files
.DS_Store
.vscode/
.idea/

# MacOS system files
__MACOSX/

# Tests and Coverage
coverage/
*.test.*
*.spec.*

# Environment variables
.env
.env.local
.env.*.local

# Cache files
.cache/
.parcel-cache/

# React-specific files
public/*.cache
*.json.*~
serviceWorker.js
reportWebVitals.js

# Static files
*.png
*.jpeg
*.svg
*.ico

# Ignore Zip files
*.zip
